<%= form_for(topic) do |f| %>
  <% if topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% topic.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="field form-group col-md-4">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
</div>


<div class="row">
  <div class="field form-group col-md-4">
    <%= f.label :address %>
    <%= f.text_field :address, class: 'form-control' %>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="field form-group">
      <%= f.label :latitude %>
      <%= f.text_field :latitude, class: 'form-control' %>
    </div>
    <div class="field form-group">
      <%= f.label :longitude %>
      <%= f.text_field :longitude, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="field form-group col-md-4">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 10, class: 'form-control' %>
  </div>
</div>

  <div class="actions">
    <%= f.submit "submit", class: "btn btn-primary" %>
  </div>
<% end %>
