<p id="notice"><%= notice %></p>

<div class="row">
<%= static_map_for(@topic) %>
</div>

<p>
  <strong>Title:</strong>
  <%= @topic.title %>
</p>


<p>
  <strong>Address:</strong>
  <%= @topic.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @topic.latitude %>
</p>
<p>
  <strong>Lng:</strong>
  <%= @topic.longitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>



<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
